body {
  margin: 50px;
  font-family: "Inter", Menlo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter", Menlo;
}

:root {
  --primary-color: #f26651;
  --secondary-color: #545050;
}
